@media (min-width: 1200px) {
  .bd-main .bd-content .bd-article-container {
    width: 764px;
  }
}

@media (min-width: 1600px) {
  .bd-main .bd-content .bd-article-container {
    width: 1200px;
  }
}

.bd-sidebar-primary .sidebar-primary-items__end {
  margin-top: 0;
}
